{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6">
            <img src="/static/images/generals-quarters.png" alt="Image of hotel room" class="img-fluid img-thumbnail">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-2">Welcome to The General's Quarters</h1>
            <p>A memorable vacation on the majest waters of the Atlantic ocean.</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <!-- <a href="/make-reservation-gq" class="btn btn-success">Check Availability</a> -->
            <button id="availabilityBtn" class="btn btn-success">Check Availability</button>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("availabilityBtn").addEventListener("click", function () {
        let html = `
                <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-row" id="reservation-dates-modal">
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                                </div>
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                `;
        attention.custom({
            title: 'Choose your dates',
            msg: html,
            willOpen: () => {
                        const elem = document.getElementById("reservation-dates-modal");
                        const rp = new DateRangePicker(elem, {
                            format: 'yyyy-mm-dd',
                            showOnFocus: true,
                        })
                    },
            didOpen: () => {
                        document.getElementById("start").removeAttribute("disabled");
                        document.getElementById("end").removeAttribute("disabled");
                    },        
            callback: function(result) {
                console.log("result:", result)

                const form = document.getElementById("check-availability-form");
                const formData = new FormData(form);
                formData.set("csrf_token", "{{.CSRFToken}}");
    
                if (result !== false) {
                    fetch("/search-availability-json", {
                        method: "post",
                        body: formData,
                    })
                    .then(resp => resp.json())
                    .then(data => {
                        console.log(data.ok);
                        console.log(data.message);
                    })
                }
            }
        });
    })

    

</script>

{{end}}