{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6">
            <img src="/static/images/generals-quarters.png" alt="Image of hotel room" class="img-fluid img-thumbnail">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-2">Welcome to The General's Quarters</h1>
            <p>A memorable vacation on the majest waters of the Atlantic ocean.</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <!-- <a href="/make-reservation-gq" class="btn btn-success">Check Availability</a> -->
            <button id="availabilityBtn" class="btn btn-success">Check Availability</button>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("availabilityBtn").addEventListener("click", function () {
        let html = `
                <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-row" id="reservation-dates-modal">
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="start_date" id="startDate" placeholder="Arrival">
                                </div>
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="end_date" id="endDate" placeholder="Departure">
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                `;
        attention.custom({
            title: 'Choose your dates',
            msg: html,
            willOpen: () => {
                const minResDate = new Date()
                minResDate.setDate(minResDate.getDate() + 1)
                const elem = document.getElementById("reservation-dates-modal");
                const rp = new DateRangePicker(elem, {
                    format: 'yyyy-mm-dd',
                    showOnFocus: true,
                    minDate: minResDate,
                })
            },
            didOpen: () => {
                document.getElementById("startDate").removeAttribute("disabled");
                document.getElementById("endDate").removeAttribute("disabled");
            },
            callback: function (result) {
                console.log("result:", result)

                const form = document.getElementById("check-availability-form");
                const formData = new FormData(form);
                formData.set("csrf_token", "{{.CSRFToken}}");
                formData.set("room_id", "1");

                if (result !== false) {
                    fetch("/search-availability-json", {
                        method: "post",
                        body: formData,
                    })
                        .then(resp => resp.json())
                        .then(data => {
                            if (data.ok) {
                                roomAvailable(data);
                            }
                            else {
                                attention.error({
                                    msg: "No Availability"
                                });
                            }
                        })
                }
            }
        });
    })

    function roomAvailable(data) {
        bookUrl = "/book-room?id=" + data.room_id
        + "&startDate=" + data.start_date
        + "&endDate=" + data.end_date;
        attention.custom({
            icon: 'success',
            showConfirmBtn: false,
            msg: '<p>Room is available</p>'
                + '<p>'
                + '<a href="' + bookUrl
                + '"class="btn btn-primary">Book Now!</a>'
                + '</p>'
        });
    }


</script>

{{end}}